/* ==== Common Styles Start ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.heading {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.sub_heading {
  margin-top: 48px;
  margin-bottom: 16px;
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
}
.paragraph {
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}

/* ==== Common Styles End ==== */

/* ===== Banner Srtyle Start ===== */
.banner {
  padding: 177px 35px;
  background-image: url("../images/banner_img.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
}
.banner-subtitle {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.banner-title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 95px;
}
/* ===== Banner Srtyle End ===== */

/* ===== Off Section Style Start ===== */
.off_section {
  margin: 120px 0;
}
.off_info {
  text-align: center;
}
.off_title {
  color: #ff0000;
  font-size: 88px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* ===== Off Section Style End ===== */

/* ===== Time and Date Style Start ===== */
.time_date {
  margin-bottom: 120px;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0)
  );
  padding: 100px;
}
.time_date_details {
  text-align: center;
}
.time_date_details h5 {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}
.time_date_details span {
  color: #ff0000;
}
.join_btn {
  padding: 16px 32px;
  color: #fff;
  background-color: #ff0000;
  outline: none;
  border: none;
  margin-top: 48px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all linear 0.3s;
  border: 1px solid transparent;
}
.join_btn:hover {
  background-color: #fff;
  color: #ff0000;
  border: 1px solid #ff0000;
}
/* ===== Time and Date Style End ===== */

/* ====== Coming Section Style Start ====== */
.coming_soon {
  margin-bottom: 120px;
}
.coming_soon_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coming_info {
  max-width: 393px;
}
.coming_subHeading {
  color: #ff0000;
}
.coming_title {
  margin-bottom: 22px;
}
.coming_img {
  width: 463px;
  height: 463px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #ff0000;
  padding: 30px;
}
.coming_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.coming_details {
  width: 276px;
}
.coming_details h4 {
  font-size: 48px;
  font-weight: 700;
  color: #ff0000;
}
.coming_details p {
  padding: 16px 0 43px 0;
}
/* ====== Coming Section Style End ====== */

/* ====== Sale Section Style Start ====== */
.sale {
  margin-bottom: 120px;
}
.sale_subheading {
  color: #070211;
  text-transform: uppercase;
}
.holiday_info {
  text-align: center;
}
.holiday_info h2 {
  color: #ff0000;
  font-size: 72px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 16px 0 28px 0;
}
.holiday_info span {
  color: #070211;
}
.holiday_info p {
  width: 820px;
  margin: 0 auto;
  line-height: 32px;
}
.discount_box {
  margin-top: 64px;
  width: 1320px;
  height: 662px;
  background-image: url("../images/discount.png");
  background-position: left, bottom;
}
/* ====== Sale Section Style End ====== */

/* ===== Portfolio Part Style Start ==== */
.portfolio {
  margin-bottom: 120px;
}
.portfolio_info {
  margin-bottom: 48px;
}
.portfolio_info h3 {
  margin-bottom: 22px;
}
.portfolio_info p {
  width: 896px;
  text-transform: capitalize;
}
.portfolio_item {
  width: 424px;
  height: 450px;
  overflow: hidden;
  border-radius: 16px;
}
.portfolio_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
/* ===== Portfolio Part Style End ==== */

/* ===== Newsletter style start ===== */
.newsletter {
  margin-bottom: 120px;
}
.newsletter_content {
  padding: 80px 212px;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
  text-align: center;
}
.newsletter_content h3 {
  margin-bottom: 22px;
  margin-top: 40px;
}
.newsletter_content p {
  width: 670px;
  margin: 0 auto;
}
.subscribe_email {
  margin: 0 auto;
  width: 648px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 44px;
}
.subscribe_email input {
  height: 100%;
  width: 70%;
  outline: none;
  border: none;
  padding-left: 30px;
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-weight: 400;
}
.subscribe_email button {
  height: 100%;
  width: 30%;
  outline: none;
  border: none;
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* ===== Newsletter style end ===== */

/* ==== Footer style start ===== */
.footer {
  background-color: #070211;
  padding: 120px 0;
}
.footer_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 50px;
}
.footer_info p {
  width: 375px;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.footer_info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.footer_info ul li {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.footer_info ul li a {
  color: #fff;
}
i {
  margin-right: 10px;
}
.social_link {
  text-align: center;
  padding: 48px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-top: 50px;
  font-size: 24px;
  font-weight: 500;
}
/* ==== Footer style end ===== */
